
<!-- Bouton hamburger visible sur mobile -->
<button class="hamburger" (click)="toggleSidebar()">☰</button>

<!-- Overlay noir cliquable pour refermer -->
<div class="overlay" *ngIf="isOpen" (click)="toggleSidebar()"></div>

<!-- Sidebar avec affichage conditionnel mobile -->
<div class="sidebar" [class.open]="isOpen">
  <button
   (click)="navigate('/dashboard/conge-form')" 
   [class.active]="isActive('/dashboard/conge-form')">Demande de congé 
  </button>
  <button 
   *ngIf="role === 'RH' || role === 'Directeur' || role === 'IT'" 
   (click)="navigate('/dashboard/conge-table')" 
   [class.active]="isActive('/dashboard/conge-table')">Tableau des demandes
  </button>
  <button
   *ngIf="role === 'RH' || role === 'Directeur' " 
   (click)="navigate('/dashboard/conge-details')" 
   [class.active]="isActive('/dashboard/conge-details')">Détails des demandes 
  </button>
  <button
   *ngIf="role === 'RH' || role === 'Directeur'" 
   (click)="navigate('/dashboard/conge-calendar')" 
   [class.active]="isActive('/dashboard/conge-calendar')">Calendriers des demandes
  </button>
  <button
   *ngIf=" role === 'IT'" 
   (click)="navigate('/dashboard/new-user')" 
   [class.active]="isActive('/dashboard/new-user')">Nouveau utilisateur
  </button>
  <button
   *ngIf=" role === 'IT'" 
   (click)="navigate('/dashboard/user-list')" 
   [class.active]="isActive('/dashboard/user-list')">Liste des utilisateurs
  </button>
</div>
