<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />

<h2 class="section-title">Détails des demandes de congé</h2>

<div class="details-card">
<!-- <button (click)="onClose()">Fermer</button> -->
  <h3>Consulter une demande de congé</h3>
  <button  class="btn-close" (click)="onClose()"><span class="material-symbols-outlined">tab_close_right</span></button>

  <div class="selectPart">
    <div *ngIf="!conge">
      <label for="selectConge">Choisir une demande :</label>
      <select id="selectConge" (change)="onSelectChange($event)">
        <option value="" disabled selected>-- Sélectionnez --</option>
        <option *ngFor="let c of allConges" [value]="c.id">
          {{ c.nom }} ({{ c.motif }}) – {{ c.dateDebut | date:'dd/MM/yyyy' }}
        </option>
      </select>
    </div>
</div>
  
  <div *ngIf="currentConge" class="details-info">
    <h2>Détails de la demande</h2>

    <ul>
      <li><strong>Nom :</strong> {{ currentConge.nom }}</li>
      <li><strong>Matricule :</strong> {{ currentConge.matricule }}</li>
      <li><strong>Email :</strong> {{ currentConge.email || '—' }}</li>
      <li><strong>Département :</strong> {{ currentConge.departement }}</li>
      <li><strong>Catégorie :</strong> {{ currentConge.categorie }}</li>
      <li><strong>Motif :</strong> {{ currentConge.motif }}</li>
      <li><strong>Date début :</strong> {{ currentConge.dateDebut | date:'dd/MM/yyyy' }}</li>
      <li><strong>Date fin :</strong> {{ currentConge.dateFin | date:'dd/MM/yyyy' }}</li>
      <li><strong>Nombre de jours :</strong> {{ currentConge.nbJours }}</li>
      <li><strong>Commentaire :</strong> {{ currentConge.commentaire || '—' }}</li>
      <li>
        <strong>Statut :</strong>
        <span [ngClass]="{
          'status-approved': currentConge.statut === 'Approuvé',
          'status-pending': currentConge.statut === 'En attente',
          'status-refused': currentConge.statut === 'Refusé',
        }">{{ currentConge.statut }}</span>
      </li>
    </ul>

    
    <button
      *ngIf="currentConge.statut === 'Approuvé'"
      class="btn-export"
      (click)="exportPdf()">  Exporter en PDF 
    </button>

    <button 
    *ngIf="currentConge.statut === 'Approuvé'"
     class="btn-export"
    (click)="envoyerEmail()"> Envoyer l'email de confirmation

    </button>
  </div>
</div>
