/* .dashboard {
  display: flex;
  min-height: 100vh;
  background: #f9fafb;
}

.dashboard-content {
  flex: 1;
  padding: 2rem;
  margin-left: 250px;
  background: white;
  min-height: calc(100vh - 80px);
}

p {
  color: #374151;
  margin-bottom: 1rem;
}

strong {
  color: #2563eb;
} */
 .dashboard-layout {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.dashboard-content {
  flex-grow: 1;
  padding: 2rem;
  background: #f9fafb;
  overflow-y: auto;
}
