form {
  max-width: 1000px;
  background: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  margin: auto ;
   /* display: flex; */
  align-items: center;
  justify-content: center;
}

form > div {
  margin-bottom: 1.5rem;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  color: #374151;
  font-weight: 500;
}

input, select, textarea {
  width: 100%;
  padding: 0.75rem;
  border: 2px solid #e5e7eb;
  border-radius: 6px;
  font-size: 1rem;
  transition: border-color 0.2s;
}

input:focus, select:focus, textarea:focus {
  outline: none;
  border-color: #2563eb;
}

textarea {
  resize: vertical;
  min-height: 100px;
}

button[type="submit"] {
  background: #2563eb;
  color: white;
  padding: 0.75rem 2rem;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.2s;
  margin-left: 43%;
  /* display: flex;
  align-items: center;
  justify-content: center; */

}

button[type="submit"]:hover {
  background: #1d4ed8;
}

form > div > div {
  color: #dc2626;
  font-size: 0.875rem;
  margin-top: 0.25rem;
}
.input-row {
  display: flex;
  gap: 4rem;
  margin-bottom: 1.5rem;
}

.form-group {
  flex: 1;
  display: flex;
  flex-direction: column;
}


.section-title {
  color: #1e293b;             
  font-size: 1.75rem;         
  font-weight: 600;           
  margin: 2rem;
  margin-top: 100px;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid #e5e7eb; 
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
h3{
color: #1e293b;             
  font-size: 1.75rem;         
  font-weight: 600;           
  margin: 2rem;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid #e5e7eb; 
  /* text-transform: capitalize; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.success-message {
  color: #166534;
  background: #dcfce7;
  padding: 0.75rem 1rem;
  border-radius: 6px;
  margin-bottom: 1rem;
  font-weight: 500;
  border: 1px solid #bbf7d0;
  margin: 100px 20px;   /* to verifyy */
}

.error-message {
  color: #991b1b;
  background: #fee2e2;
  padding: 0.75rem 1rem;
  border-radius: 6px;
  margin-bottom: 1rem;
  font-weight: 500;
  border: 1px solid #fecaca;
}
