
  <app-header></app-header>
  <h2 class="section-title">Demande de congé</h2>
  <h3>  Veuillez remplir ce formulaire en tenant compte des informations saisies avec attention.  </h3>
  <div *ngIf="successMessage" class="success-message">
  {{ successMessage }}
</div>

<div *ngIf="errorMessage" class="error-message">
  {{ errorMessage }}
</div>


 <div>
    <form [formGroup]="congeForm" (ngSubmit)="onSubmit()">

    <div class="input-row">
      <div class="form-group">
        <label>Nom :</label>
        <input formControlName="nom" />
        <div *ngIf="congeForm.get('nom')?.touched && congeForm.get('nom')?.invalid">
          Nom requis.
        </div>
      </div>

      <div class="form-group">
        <label>Matricule :</label>
        <input formControlName="matricule" />
        <div *ngIf="congeForm.get('matricule')?.touched && congeForm.get('matricule')?.invalid">
          CNI requis.
        </div>
        <div *ngIf="congeForm.get('matricule')?.errors?.['pattern']">
          Le matricule doit contenir 4 chiffres.
        </div>

      </div>
    </div>

    <div class="input-row">
      <div class="form-group">
        <label>Email :</label>
        <input formControlName="email" />
        <div *ngIf="congeForm.get('email')?.touched && congeForm.get('email')?.invalid">
          Email invalide.
        </div>
      </div>

      <div class="form-group">
        <label>Département :</label>
        <input formControlName="departement" />
      </div>
    </div>

    <div class="input-row">
       <div class="form-group">
      <label>Catégorie</label>
      <select formControlName="categorie">
        <option value="Ouvrier">Ouvrier</option>
        <option value="Cadre">Cadre</option>
        <option value="ETAM">ETAM</option>
      </select>
    </div>

     <div class="form-group">
      <label> Motif du congé</label>
      <select formControlName="motif">
          <option value="Décès">Décès</option>
          <option value="Naissance">Naissance</option>
          <option value="Circoncision">Circoncision</option>
          <option value="Mariage">Mariage</option>
          <option value="Congé annuel">Congé annuel</option>
          <option value="Congé sans solde">Congé sans solde</option>
          <option value="autres">autres</option>
        </select>
    </div>
    </div>

    <div class="input-row">
      <div class="form-group">
        <label>Date Début : (incluse)</label>
        <input type="date" formControlName="dateDebut" />
      </div>
     


      <div class="form-group">
        <label>Date Fin : (incluse)</label>
        <input type="date" formControlName="dateFin" />
      </div>
    </div>
     <div class="form-error" *ngIf="congeForm.errors?.['dateDebutInPast'] && congeForm.touched">
        ⚠️ La date de début ne peut pas être antérieure à aujourd'hui.
     </div>
    <div class="form-error" *ngIf="congeForm.errors?.['invalidDateRange'] && congeForm.touched">
       ⚠️ La date de début ne peut pas être après la date de fin.
    </div>


    <div class="input-row">
      <div class="form-group">
        <label>Nb Jours :</label>
        <input formControlName="nbJours" />
      </div>

      <div class="form-group">
        <label>Statut :</label>
        <select formControlName="statut">
          <option value="En attente">En attente</option>
          
        </select>
      </div>
    </div>

    <!-- Commentaire full width -->
     <div class="form-group" *ngIf="congeForm.get('motif')?.value === 'autres'">
        <div class="form-group">
          <label>Commentaire / autres :</label>
          <textarea formControlName="commentaire"></textarea>
          
        </div>
    </div>
    <button type="submit">Enregistrer</button>
  </form>
</div>